# -*- coding: utf-8 -*-
# SAMPLE CONFIGURATION FILE FOR QSTODE
#
# Please note: this file is a Python script.
#
# See http://qstode.readthedocs.org/en/latest/index.html to read more about
# configuration parameters.

# Run in DEBUG mode
DEBUG = False

# This must be kept SECRET, generated with:
# python -c 'import os; print "%r" % os.urandom(24)'
# or other means
SECRET_KEY = 'secret'

# Database URI (format: driver-name://username:password@address[:port]/db-name)
SQLALCHEMY_DATABASE_URI = "mysql://username:password@localhost/dbname"

# Whoosh index directory
WHOOSH_INDEX_PATH = "/var/lib/qstode"

# Localization
BABEL_DEFAULT_LOCALE = "it"
BABEL_DEFAULT_TIMEZONE = "Europe/Rome"

# Mail configuration
SMTP_HOST = "localhost"
SMTP_PORT = 25
MAIL_FROM = "qstode@example.com"

# Enable anonymous access to all the public pages
# PUBLIC_ACCESS = True

# Number of Bookmarks listed on each page
# PER_PAGE = 10

# Number of recent Bookmarks listed in the public RSS feed
# FEED_NUM_ENTRIES = 15

# Number of tags listed in the Popular Tags list
# TAGLIST_ITEMS = 30

# Enable the related tags functions
# NOTE: this is currently half-broken when using MySQL without InnoDB.
# ENABLE_RELATED_TAGS = True


# the domain for the session cookie. If this is not set, the cookie will be
# valid for all subdomains of SERVER_NAME.
# SESSION_COOKIE_DOMAIN = None

# the name and port number of the server. Required for subdomain
# support (e.g.: 'myapp.dev:5000').
# SERVER_NAME = ""

# Extra templates directory
# EXTRA_TEMPLATES = [
#     "/path/to/directory",
# ]

# Enable or disable anonymous user registration
USER_REGISTRATION_ENABLED = True

# Recaptcha, for user registration
RECAPTCHA_USE_SSL = False
RECAPTCHA_PUBLIC_KEY = ''
RECAPTCHA_PRIVATE_KEY = ''

# google favicon service
USE_GOOGLE_FAVICON = True

# Redis
REDIS_HOST = 'localhost'
# REDIS_PORT = 6379
# REDIS_DB = 0
# REDIS_PASSWORD = ''
