{% extends "_page.html" %}
{% import "_helpers.html" as h %}
{% set page_title = _("Administration: modify user") %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

  {{ h.page_header(page_title) }}

  <div class="row">
	<div class="col-md-7">

	  <div class="panel panel-default">
		<div class="panel-body">
		  <form method="post" role="form">
			{{ form.hidden_tag() }}

			{{ h.render_field(form.username) }}
			{{ h.render_field(form.email) }}
			{{ h.render_field(form.password) }}
			{{ h.render_field(form.password_confirm) }}

			{{ h.render_checkbox(form.active) }}
			{{ h.render_checkbox(form.admin) }}

			<div class="form-group text-center">
			  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> {{ _("Update") }}</button>
			  <button type="button" onclick="location.href='{{ url_for('admin_users') }}';" class="btn btn-default">{{ _("Cancel") }}</button>
			</div>
		  </form>
		</div>
	  </div>

	</div><!-- /.col -->
  </div><!-- /.row -->
{% endblock %}
