body {
	padding-top: 50px;
	background-color: #F2F3F5;
}

#main-container {
	// pad to leave space for the navigation bar
	padding-top: 25px;
}

// since we have a gray background, the blockquote left-margin can't be
// light-gray.
blockquote {
	border-left: 5px solid #D2D3D4;
}

// same for the nav-bar
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #D8E3E6;
}

/* LOGIN PAGE */
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* COMMON */
.page-title {
	margin-bottom: 45px;
}


/*
 * Search Form on the navigation bar.
 * The problem with jquery-ui and bootstrap is that by default the z-index
 * of the autocompletion menu appears behind the navigation bar; we apply
 * different z-index on the input field and the autocomplete menu to avoid
 * this issue.
 */
.search-query {
	position: relative;
	z-index: 10000;
}

.ui-autocomplete {
	z-index: 9999 !important;
	position: absolute;
	cursor: default;
}


/* BOOKMARKS */
article.bookmark {
	blockquote {
		margin: 0 0 10px;
	}

	p {
			font-size: 15px;
	}
}

article.bookmark header {
	h3 {
		font-size: 21px;
	}

	h4 {
		font-size: 17px;
	}

	.bk-time {
		border-bottom: 1px dashed #CACACC;
		padding-bottom: 2px;
		font-size: 15px;
	}

	h4.bk-time-short {
		display: none;
	}

	.bk-href {
		font-size: 15px;
		margin-top: 1px;

		a {
			color: #BDB98E;
		}
	}

	.bk-title a {
		color: #8E92BD;
	}
}


/* FOOTER */
footer {
	font-size: 13px;
}


/* TAG CLOUD */
@tag-cloud_a: #706C6E;
@tag-cloud_a_hover: #9C989A;

.tag-cloud {
    padding: 2px;
    line-height: 3em;
    text-align: center;
    margin: 0;
}
.tag-cloud ul {
    list-style: none;
}
.tag-cloud li {
    display: inline;
}
.tag-cloud a {
    text-decoration: none;
    padding: 3px;
}
.tag-cloud a:hover {
    color: @tag-cloud_a_hover;
}

/* Tag cloud colors
 * see also: http://0to255.com/706C6E
 */
.tag-1 { font-size: 0.7em; font-weight: 100; color: #928e90; }
.tag-2 { font-size: 0.8em; font-weight: 200; color: #8a8587; }
.tag-3 { font-size: 0.9em; font-weight: 300; color: #817d7f; }
.tag-4 { font-size: 1.0em; font-weight: 400; color: #797476; }
.tag-5 { font-size: 1.2em; font-weight: 500; color: #706c6e; }
.tag-6 { font-size: 1.4em; font-weight: 600; color: #676466; }
.tag-7 { font-size: 1.6em; font-weight: 700; color: #5f5b5d; }
.tag-8 { font-size: 1.8em; font-weight: 800; color: #565355; }
.tag-9 { font-size: 2.2em; font-weight: 900; color: #4d4b4c; }
.tag-10 { font-size: 2.5em; font-weight: 900; color: #454244; }
