<!DOCTYPE html>
<html lang="{{ g.lang or "en" }}">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>QStode - {% block title %}Home{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="QStode: web based bookmark archiver" />
      <meta name="author" content="Daniel Kertesz" />

      <link href="{{ url_for('static', filename="css/bootstrap-3.3.6-flatly.min.css") }}" rel="stylesheet" />
      <!-- jquery-ui -->
      <link href="{{ url_for('static', filename="css/jquery-ui.min.css") }}" rel="stylesheet" />

	  <link href="{{ url_for('static', filename='css/qstode.min.css') }}" type="text/css" rel="stylesheet" />

      <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

      <link rel="shortcut icon" href="{{ url_for('static', filename="ico/favicon.ico") }}" />

      <!-- Atom Feed -->
      <link rel="alternate" title="{{ _('Recent Bookmarks') }}" href="{{ url_for('feed_recent') }}" type="application/atom+xml" />
    {% endblock head %}
  </head>

  <body>
	{% block page %}{% endblock %}

    <script>
     var url_autocomplete_tags = "{{ url_for('complete_tags') }}";
     var url_autocomplete_suggestions = "";
    </script>

    {% include "_common_js.html" %}
    {% block extrajs %}{% endblock %}
  </body>
</html>
