{%- macro render_field(field, help="") %}
  {% if field.type == 'BooleanField' %}
	{{ render_checkbox(field, help, **kwargs) }}
  {% elif field.type == 'SelectField' %}
	{{ render_select(field, help, **kwargs) }}
  {% else %}
	{{ render_input(field, help, **kwargs) }}
  {% endif %}
{%- endmacro %}


{%- macro render_input(field, help='') %}
  <div class="form-group {%- if field.errors %} has-error{%- endif %}">
	<label for="{{ field.id }}">{{ field.label.text }}
	  {%- if field.flags.required %}
		<abbr class="field-required" title="{{ _("This field must be filled in") }}">*</abbr>
	  {%- endif %}</label>

	{{ field(class_="form-control", **kwargs) }}

	{% if help %}
	  <p class="help-block">{{ help }}</p>
	{% endif %}

	{% for error in field.errors %}
	  <p class="help-block">{{ error }}</p>
	{% endfor %}
  </div>
{% endmacro -%}


{%- macro render_checkbox(field, help='') %}
  <div class="form-group {%- if field.errors %} has-error{%- endif %}">
	<div class="checkbox">
	  <label>
		{{ field(**kwargs) }}{{ field.label.text }}
	  </label>
	</div>

	{% if help %}
	  <p class="help-block">{{ help }}</p>
	{% endif %}
  </div>
{%- endmacro %}


{%- macro render_select(field, help='') %}
  <div class="form-group">

	<label for="{{ field.id }}">{{ field.label.text }}
	  {%- if field.flags.required %}
		<abbr class="field-required" title="{{ _("This field must be filled in") }}">*</abbr>
	  {%- endif %}</label>

	<select class="form-control" name="{{ field.name }}" id="{{ field.id }}">
	  {% for value, label, selected in field.iter_choices() %}
		<option value="{{ value }}"{%- if selected  %} selected{%- endif %}>{{ label }}</option>
	  {% endfor %}
	</select>

	{% if help %}
	  <p class="help-block">{{ help }}</p>
	{% endif %}

	{% for error in field.errors %}
	  <p class="help-block">{{ error }}</p>
	{% endfor %}
  </div>
{%- endmacro %}


{%- macro render_actions(submit_label=None, cancel_label=None, ok_icon=None, center=True) %}
  <div class="form-group {%- if center %} text-center{% endif %}">
    <button type="submit" class="btn btn-primary">{%- if ok_icon %}<span class="glyphicon glyphicon-{{ ok_icon }}"></span> {% endif %}{{ submit_label or _('Save') }}</button>
    <button type="button" class="btn btn-default">{{ cancel_label or _('Cancel') }}</button>
  </div>
{%- endmacro %}


{% macro button_group() -%}
  <div class="control-group">
	<div class="control">
	  {{ caller() }}
	</div><!-- /.control -->
  </div><!-- /.control-group -->
{%- endmacro %}


{% macro title_with_page(title) %}
  <h3>{{ title }}{%- if bookmarks and bookmarks.page > 1 %}<small> {{ _('Page:') }} {{ bookmarks.page }}</small>{% endif -%}</h3>
{% endmacro %}


{%- macro bookmark_form(form) %}
  <fieldset>
	{{ render_field(form.url, placeholder="http://www.example.com") }}
	{{ render_field(form.title, placeholder=_("A title for this bookmark")) }}
	{{ render_field(form.tags, placeholder="interesting, document, music, ...", help=_("A comma separated list of tags")) }}
	{{ render_field(form.notes, placeholder=_("Write anything here"), help=_("Optional notes"), rows=6) }}
	{{ render_checkbox(form.private) }}
  </fieldset>
{%- endmacro %}


{%- macro page_header(page_title) %}
  <div class="page-title">
	<h3>{{ page_title }}</h3>
  </div>

  {% include "_messages.html" %}

  {% if caller %}
	{{ caller() }}
  {% endif %}
{%- endmacro %}
