{% block sidebar %}
  <ul class="nav nav-pills nav-stacked" role="navigation">

	<li class="{{ active_if('index') }}"><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> {{ _("Home") }}</a></li>
	<li class="{{ active_if('advanced_search') }}"><a href="{{ url_for('advanced_search') }}"><span class="glyphicon glyphicon-search"></span> {{ _('Advanced Search') }}</a></li>

	{% if current_user.is_authenticated() %}
	  <li class="{{ active_if('user_bookmarks') }}"><a href="{{ url_for('user_bookmarks', username=current_user.username) }}"><span class="glyphicon glyphicon-book"></span> {{ _('My Bookmarks') }}</a></li>

	  <li class="{{ active_if('followed') }}"><a href="{{ url_for('followed') }}"><span class="glyphicon glyphicon-transfer"></span> {{ _("Incoming Bookmarks") }}</a></li>

	  <li class="{{ active_if('rename_tag') }}"><a href="{{ url_for('rename_tag') }}"><span class="glyphicon glyphicon-pencil"></span> {{ _("Rename tags") }}</a></li>

	  {% if current_user.admin %}
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			<span class="glyphicon glyphicon-cog"></span> {{ _("Administration") }} <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
			<li><a href="{{ url_for('admin_users') }}"><span class="glyphicon glyphicon-list"></span> {{ _('User list') }}</a></li>
			<li><a href="{{ url_for('admin_create_user') }}"><span class="glyphicon glyphicon-plus-sign"></span> {{ _('Create new user') }}</a></li>
		  </ul>
		</li>
	  {% endif %}
	{% endif %}

	{% if current_user.is_authenticated() %}
	  <li class="{{ active_if('help') }}"><a href="{{ url_for('help') }}"><span class="glyphicon glyphicon-question-sign"></span> {{ _('Help') }}</a></li>
	{% endif %}
  </ul>

  {% if taglist %}
	<div class="hidden-xs">
      <h3 class="text-center">{% trans %}Popular tags{% endtrans %}</h3>

      <ul class="list-unstyled text-center" role="navigation">
		{% for tag, total in taglist %}
	      <li class="small"><a href="{{ url_for('tagged', tags=tag.name) }}">{{ tag.name }} <span>({{ total }})</span></a></li>
		{% endfor %}
      </ul>
	</div>
  {% endif %}

{% endblock %}
