{% macro render_bookmark(bookmark, user=None) -%}
  <div class="bookmark" id="bookmark_{{ bookmark.id }}">
	{% if config.USE_GOOGLE_FAVICON %}
	  {% set b_domain = bookmark.href|get_domain %}
	  <h5 class="title"><a href="{{ bookmark.href }}" rel="nofollow" title="{{ bookmark.title }}" target="_blank"><img src="//www.google.com/s2/favicons?domain={{ b_domain }}" alt="" title="{{ b_domain }}"> {{ bookmark.title }}</a></h5>
	{% else %}
      <h5 class="title"><a href="{{ bookmark.href }}" rel="nofollow" title="{{ bookmark.title }}" target="_blank"><i class="small icon-bookmark"></i> {{ bookmark.title }}</a></h5>
	{% endif %}

    <div class="column-group url">
      <div class="large-90 small">
        <i class="icon-link"></i><a target="_blank" class="href" href="{{ bookmark.href }}" rel="nofollow"> {{ bookmark.href|truncate(100, True) }}</a>
      </div>

      <div class="large-10 small content-right">
        <time datetime="{{ bookmark.created_on|datetimeformat("yyyy-MM-dd'T'H:mm:sszzz") }}"><i class="icon-calendar"></i> {% trans quando=bookmark.created_on|timesince %}added {{ quando }}{% endtrans %}</time>
      </div>
    </div>

	<p class="note notes">{{ bookmark.notes }}</p>

    <div class="column-group info">

      <div class="large-60 bookmark-tags">
	    <p><i class="icon-tags"></i> {% for tag in bookmark.tags %}
	      <a href="{{ url_for('tagged', tags=tag.name) }}"><span class="ink-label info small">{{ tag.name }}</span></a>{% if not loop.last %} {% endif %}
	    {% endfor %}</p>
      </div>

      <div class="large-40 content-right small">

        <nav class="ink-navigation pull-right bookmark-actions">
          <ul class="menu horizontal">
            <li><a class="bookmark-owner" href="{{ url_for('user_bookmarks', username=bookmark.user.username) }}"><i class="icon-user"></i> <strong>{{ bookmark.user.username }}</strong></a></li>
            {% if bookmark.private %}
              <li>
                <a href="#"><span class="ink-label error">{% trans %}PRIVATE{% endtrans %}</span></a>
              </li>
            {% endif %}

	        {% if current_user.is_authenticated() and current_user.id == bookmark.user.id %}
	          <li><a href="{{ url_for('edit_bookmark', bId=bookmark.id) }}"><span class="ink-label info">{{ ('Edit') }}</span></a></li>
	          <li><a href="{{ url_for('delete_bookmark', bId=bookmark.id) }}"><span class="ink-label warning">{{ _('Delete') }}</span></a></li>
	        {% endif %}

          </ul>
        </nav>
          


      </div>

    </div>
  </div>


{%- endmacro %}


{% macro render_pagination(pagination) %}
  <nav class="ink-navigation push-right">
    <ul class="pagination rounded shadowed blue">
      <li class="previous">
	    {% if pagination.has_prev %}
	      <a href="{{ url_for_other_page(pagination.prev_num) }}">&laquo;</a>
	    {% else %}
	      <a href="{{ url_for_other_page(1) }}">&laquo;</a>
	    {% endif %}
      </li>

      {%- for page in pagination.iter_pages() %}
	    {% if page %}
	      {% if page != pagination.page %}
	        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
	      {% else %}
	        <li class="active"><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
	      {% endif %}
	    {% endif %}
      {%- endfor %}

      <li class="next">
	    {% if pagination.has_next %}
	      <a href="{{ url_for_other_page(pagination.next_num) }}">&raquo;</a>
	    {% else %}
	      <a href="{{ url_for_other_page(pagination.pages) }}">&raquo;</a>
	    {% endif %}
      </li>
    </ul>
  </nav>
{% endmacro %}
