<div id="topbar">
  <nav class="ink-navigation ink-grid">
    <ul class="menu horizontal rounded red shadowed">
      <li class="top-logo"><a href="{{ url_for('index') }}">QStode</a></li>

      <li class="{{ active_if('index') }}"><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
      <li class="{{ active_if('help') }}"><a href="{{ url_for('help') }}">{{ _('Help') }}</a></li>
      <li class="{{ active_if('about') }}"><a href="{{ url_for('about') }}">{{ _('About') }}</a></li>

      {% if current_user.is_authenticated() %}
        <li class="{{ active_if('add') }}"><a href="{{ url_for('add') }}">{{ _('Save') }}</a></li>
      {% endif %}

      <li>
        <form class="ink-form" method="get" action="{{ url_for('simple_search') }}">
          <div class="control append-button">
            <span>{{ search_form.query(class="search-query", placeholder=_('Search')) }}</span>
            <button class="ink-button"><i class="icon-search"></i> Search</button>
          </div>
        </form>
      </li>

      <div class="right-menu">
        <li>
          <form id="lang_form" class="ink-form" action="" method="get">
            <div class="control">
	          <select class="input-small" name="_lang" id="lang_selector">
	            {%- for iso, lname in config.SUPPORTED_LANGUAGES %}
	              <option value="{{ iso }}"{%- if iso == g.lang %} selected{% endif -%}>{{ lname }}</option>
	            {%- endfor %}
	          </select>
            </div>
	      </form>
        </li>

        {% if current_user.is_authenticated() %}
          <li>
		    <a href="{{ url_for('user_bookmarks', username=current_user.username) }}"><i class="icon-user icon-white"></i> {{ current_user.username }}</a>
            <ul class="submenu">
              <li><a href="{{ url_for('user_bookmarks', username=current_user.username) }}">{{ _('My Bookmarks') }}</a></li>
              <li><a href="{{ url_for('user_details') }}">{{ _('Edit Profile') }}</a></li>
              <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
            </ul><!-- /.submenu -->
          </li>
        {% else %}
          <li class="{{ active_if('login') }}"><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
        {% endif %}

      </div><!-- /.right-menu -->

    </ul>


  </nav>
</div>