{% extends "_page.html" %}
{% import "_helpers.html" as h %}
{% set page_title = _("About QStode") %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

  {{ h.page_header(page_title) }}

  <p>{% trans %}QStode is a web application that allows registered users to store bookmarks (like the goold old del.icio.us) categorized by tags.{% endtrans %}</p>

  <p>{{ _("Find more about QStode:") }}
    <ul>
      <li>Code on <a href="https://github.com/piger/qstode">GitHub</a></li>
      <li>Documentation on <a href="http://qstode.readthedocs.org/en/latest/">Read The Docs</a></li>
    </ul>
  </p>

  <hr>

  <h4>{{ _("Third party libraries and licenses") }}</h4>

  <p>{{ _("All software used is available under an open source license.") }}</p>

  <dl>
    <dt><a href="http://flask.pocoo.org/">Flask</a></dt>
    <dd>A great Python micro-framework to build web applications.</dd>

    <dt><a href="http://www.sqlalchemy.org/">SQLAlchemy</a></dt>
    <dd>A great ORM companion.</dd>

    <dt><a href="http://getbootstrap.com">Bootstrap</a></dt>
    <dd>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</dd>

    <dt><a href="https://bootswatch.com/flatly/">Flatly theme</a></dt>
    <dd>A free Bootstrap theme from Bootswatch.</dd>
  </dl>

  <hr>

  <h4>{{ _('Statistics') }}</h4>

  <ul>
    <li>{% trans tot=data.num_bookmarks %}Bookmarks: <strong>{{ tot }}</strong>{% endtrans %}</li>
    <li>{% trans tot=data.num_tags %}Tags: <strong>{{ tot }}</strong>{% endtrans %}</li>
  </ul>

{% endblock %}
