{% extends "_page.html" %}
{% block title %}{{ _('About') }}{% endblock %}

{% block content %}

  <div class="page-title">
	<h3>{{ _('About QStode') }}</h3>
  </div>

  <p>{{ trans }}
	QStode is a web application that allows registered users to store bookmarks
	(like the goold old del.icio.us) categorized by tags.<br />

	At the moment social functions (for example the subscription to other users
	bookmark feed) are missing.
	{{ endtrans }}
  </p>

  <p>Find more about QStode:
	<ul>
	  <li>Code on <a href="https://github.com/piger/qstode">GitHub</a></li>
	  <li>Documentation on <a href="http://qstode.readthedocs.org/en/latest/">Read The Docs</a></li>
	</ul>
  </p>

  <hr>

  <h4>{{ _('Third party libraries and licenses') }}</h4>

  <p>All software used is available under an open source license.</p>

  <dl>
    <dt><a href="http://flask.pocoo.org/">Flask</a></dt>
    <dd>A great Python micro-framework to build web applications.</dd>

    <dt><a href="http://www.sqlalchemy.org/">SQLAlchemy</a></dt>
    <dd>A great ORM companion.</dd>
  </dl>

  <hr>

  <h4>{{ _('Statistics') }}</h4>

  <ul>
	<li>{{ _('Bookmark') }}: <strong>{{ data.num_bookmarks }}</strong></li>
	<li>{{ _('Tag') }}: <strong>{{ data.num_tags }}</strong></li>
  </ul>
  
{% endblock %}
