{% extends "_page.html" %}
{% import "_helpers.html" as h %}
{% set page_title = _("Advanced Search") %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

  <div class="page-title">
	<h3>{{ page_title }}</h3>
  </div>

  <p>{% trans %}Ask QStode about something:{% endtrans %}</p>

  <form method="post" class="form-search{%- if form.errors %} error{%- endif %}" role="form">
	{{ form.hidden_tag() }}

	{{ h.render_field(form.q) }}

	{{ h.render_actions(_("Search")) }}
  </form>

{% endblock %}
