{% extends "_page.html" %}
{% from "_bookmark.html" import render_bookmark with context %}
{% from "_helpers.html" import page_header %}
{% set page_title = _("Confirm delete") %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

  {{ page_header(page_title) }}

  <form method="post" role="form">
    {{ form.hidden_tag() }}

    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Do you really want to delete this bookmark?') }}</div>
      <div class="panel-body">
	{{ render_bookmark(bookmark, controls=False) }}
      </div>

      <div class="panel-footer text-center">
	<button type="submit" class="btn btn-sm btn-danger">{{ _('Delete') }}</button>
	<button type="button" class="btn btn-sm btn-default cancel-btn">{{ _('Cancel') }}</button>
      </div>
    </div>
  </form>

{% endblock %}
