{% extends "_page.html" %}
{% from "_bookmark.html" import render_bookmark with context %}
{% from "_form_helpers.html" import page_header %}
{% set page_title = _("Confirm delete") %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

  {{ page_header(page_title) }}

  <p>{{ _('Do you really want to delete this bookmark?') }}</p>

  {{ render_bookmark(bookmark) }}

  <form action="" method="post" role="form">
	{{ form.hidden_tag() }}

	<button type="submit" class="btn btn-danger">{{ _('Delete') }}</button>
    <button type="button" class="btn btn-default" onlick="history.go(-1)">{{ _('Cancel') }}</button>
  </form>

{% endblock %}
