{% extends "_page.html" %}
{% import "_helpers.html" as h %}
{% set page_title = _("Edit bookmark") %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

  {{ h.page_header(page_title) }}

  <div class="row">
	<div class="col-md-8">
	  <form method="post" role="form">
		{{ form.hidden_tag() }}

		{{ h.bookmark_form(form) }}

		{{ h.render_actions() }}
	  </form>
	</div>
  </div>
{% endblock %}

{% block extrajs %}
  <script src="{{ url_for('static', filename="js/post.js") }}" type="text/javascript"></script>
{% endblock %}
