<div class="container">
  <div class="row">
	<div class="col-md-12">

	  {% if config.SQLDEBUG and debug_queries %}
		<div id="sqla-debug">
		  <h5>SQL Debug</h5>
		  
		  {% for query in debug_queries %}
			<div class="debug-query">
			  <div class="query-statement">
				<pre class="small">{{ query.statement }}</pre>
			  </div><!-- /query-statement -->

			  <div class="query-details">
				{% set duration = query.duration * 1000 %}
				<p>Duration: <strong>{{ duration|round(3) }}</strong> seconds, Parameters: <strong>{{ query.parameters }}</strong>, Context: <strong>{{ query.context }}</strong></p>
			  </div><!-- /query-details-->
			</div><!-- /debug-query -->
		  {% endfor %}
		</div>
	  {% endif %}

	  <footer>
		<p><a href="https://github.com/piger/qstode" target="_blank">QStode</a> &copy; 2013 Daniel Kertesz</p>
		<p>Source code is BSD licensed</p>
	  </footer>
	</div>
  </div>
</div>
