<p>To use QStode you have to copy this bookmarklet
  <a class="bookmarklet-link label label-info" href="javascript:(function(){f='{{ request.url_root }}post?url='+encodeURIComponent(window.location.href)+'&title='+encodeURIComponent(document.title)+'&notes='+encodeURIComponent(''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text))+'&v=6&';a=function(){if(!window.open(f+'noui=1&jump=doclose','qstode1','location=1,links=0,scrollbars=1,toolbar=0,width=710,height=660'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()" title="QStode" alt="QStode">QStode</a>
  to the bookmark bar of your browser, usually situated under the address bar (In Google Chrome you may need to enable it from the options menu).</p>

<p>To save a new bookmark you just have to press the <strong>bookmarklet</strong> when you are visiting some website,
  fill the fields in the popup window and click save.</p>
