{% extends "_public_page.html" %}
{% import "_helpers.html" as h %}
{% block title %}{% trans %}Sign on{% endtrans %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
  <form action="{{ url_for('login') }}" method="post" class="form-signin" role="form">
	{{ form.hidden_tag() }}

	<h2 class="form-signin-heading">{{ _("Sign in") }}</h2>

	{{ h.render_field(form.user, placeholder=_("Username or email")) }}
	{{ h.render_field(form.password) }}
	{{ h.render_checkbox(form.remember_me) }}

	{% if login_failed %}
	  <span class="help-block">{{ _("Authentication failed!") }}</span>
	{% endif %}

	<button class="btn btn-lg btn-primary btn-block" type="submit">{{ _("Sign in") }}</button>

	<hr>

	<p>{% trans reset=url_for('reset_request') %}
	  Forgot your password? You can request a <a href="{{ reset }}">reset!</a>
	  {% endtrans %}
	</p>
  </form>

{% endblock content %}
