{% extends "_public_base_page.html" %}
{% block title %}{% trans %}Sign on{% endtrans %}{% endblock %}

{% block content %}

  <h3>{% trans %}Sign on{% endtrans %}</h3>

  <div class="large-50 push-center">
    
    <form action="{{ url_for('login') }}" method="post" class="ink-form spaced-form">
	  {{ form.hidden_tag() }}

	  <div class="control-group validation required{%- if form.email.errors %} error{%- endif %}">
	    <div class="control">
	      {{ form.email(size=30, placeholder='Email') }}

	      {% for error in form.email.errors %}
	        <p class="tip">{{ error }}</p>
	      {% endfor %}
	    </div>
	  </div>

	  <div class="control-group validation required{%- if form.password.errors %} error{%- endif %}">
	    <div class="control">
	      {{ form.password(size=30, placeholder='Password') }}

	      {% for error in form.password.errors %}
	        <p class="tip">{{ error }}</p>
	      {% endfor %}
	    </div>
	  </div>

	  {% if login_failed %}
        <div class="control-group validation error">
	      <p class="tip"><span class="ink-label error">{% trans %}ERROR{% endtrans %}</span> {% trans %}Authentication failed!{% endtrans %}</p>
        </div>
	  {% endif %}

	  <button class="ink-button blue" type="submit">{{ _('Sign in') }}</button>
    </form>

    {% autoescape false %}
	  <p>{{ _('Forgot your password? You can request a %(reset)s!', reset='<a href="%s">%s</a>' % (url_for('reset_request'), _('reset'))) }}</p>

	  <p>{{ _("If you are lazy you could also try to sign on with %(google)s OpenID by clicking %(openid_login)s.", google="<a href='http://www.google.com'>Google</a>", openid_login="<a class='btn btn-mini btn-info' href='%s'>%s</a>" % (url_for('glogin'), _('here'))) }}</p>
    {% endautoescape %}

  </div>
    
{% endblock %}
