{% extends "_public_page.html" %}
{% block title %}{% trans %}Sign on{% endtrans %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
  <form action="{{ url_for('login') }}" method="post" class="form-signin" role="form">
	{{ form.hidden_tag() }}

	<h2 class="form-signin-heading">{{ _("Sign in") }}</h2>

	{{ form.email(class="form-control", placeholder=_('Email')) }}
	{{ form.password(class="form-control") }}
	<label class="checkbox">
	  {{ form.remember_me() }}Remember me
	</label>

	{% if login_failed %}
	  <span class="help-block">{{ _("Authentication failed!") }}</span>
	{% endif %}

	<button class="btn btn-lg btn-primary btn-block" type="submit">{{ _("Sign in") }}</button>

	<hr>

	{% autoescape false %}
	  <p>{{ _('Forgot your password? You can request a %(reset)s!', reset='<a href="%s">%s</a>' % (url_for('reset_request'), _('reset'))) }}</p>
	{% endautoescape %}
	
  </form>

{% endblock content %}
