<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </a>

      <a class="brand" href="{{ url_for('index') }}">QStode</a>

      <div class="nav-collapse collapse">
	<ul class="nav pull-right">

	  {% if current_user.is_authenticated() %}
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="icon-user icon-white"></i> {{ current_user.username }}
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><a href="{{ url_for('user_bookmarks', username=current_user.username) }}">My Bookmarks</a></li>
		<li><a href="{{ url_for('user_details') }}">{% trans %}Edit profile{% endtrans %}</a></li>
		<li class="divider"></li>
		<li><a href="{{ url_for('logout') }}">{% trans %}Sign Out{% endtrans %}</a></li>
	      </ul>
	    </li>
	  {% else %}
	    <li><a href="{{ url_for('login') }}">{% trans %}Login{% endtrans %}</a></li>
	  {% endif %}
	</ul>

	<ul class="nav">

	  <li class="navbar-link {%- if request.endpoint == 'index' %} active{% endif -%}"><a href="{{ url_for('index') }}">{% trans %}Home{% endtrans %}</a></li>
	  {% if current_user.is_authenticated() %}
	    <li class="navbar-link {%- if request.endpoint == 'help' %} active{% endif -%}"><a href="{{ url_for('help') }}">{% trans %}Help{% endtrans %}</a></li>
	  {% endif %}

	  <li class="navbar-link {%- if request.endpoint == 'about' %} active{% endif -%}"><a href="{{ url_for('about') }}">{% trans %}About{% endtrans %}</a></li>
	  <li class="divider-vertical"></li>

	  {% if current_user.is_authenticated() %}
	    <li class="navbar-link {%- if request.endpoint == 'add' %} active{% endif -%}"><a href="{{ url_for('add') }}">{% trans %}Save{% endtrans %}</a></li>
	  {% endif %}

	</ul><!-- /nav -->

	<!-- Navbar search form -->
	<form class="navbar-search pull-left" method="get" action="{{ url_for('simple_search') }}">
	  {{ search_form.query(class='search-query', placeholder=_('Search tags')) }}
	</form>

	<!-- Switch language form -->
	<form id="lang_form" class="navbar-form pull-right" method="get">
	  <select class="input-small" name="_lang" id="lang_selector">
	    {%- for iso, lname in config.SUPPORTED_LANGUAGES %}
	      <option value="{{ iso }}"{%- if iso == g.lang %} selected{% endif -%}>{{ lname }}</option>
	    {%- endfor %}
	  </select>
	</form>

      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>
