<html>
  <head>
    <title>{{ _('QStode &mdhash; Password reset') }}</title>
  </head>

  <body>
    <h1>{{ _('QStode &mdash; Password recovery') }}</h1>

    <p>{% trans main_url=url_for('index') %}A password reset was requested for your account at <a href="{{ main_url }}">QStode</a>; to set a new password click <a href="{{ reset_url }}">here</a>.{% endtrans %}</p>

    <p>{% trans %}If you haven't requested a password reset you can safely ignore this message.{% endtrans %}</p>

  </body>
</html>
