{% extends "_page.html" %}
{% import "_helpers.html" as h %}
{% set page_title = _("Rename a tag") %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

  {{ h.page_header(page_title) }}

  <p>{% trans %}Here you can assign a new name to a tag of your bookmarks.{% endtrans %}</p>

  <div class="row">
    <div class="col-md-6">

      <div class="panel panel-default">
	<div class="panel-body">

	  <form method="post" role="form">
	    {{ form.hidden_tag() }}

	    {{ h.render_field(form.old_name) }}
	    {{ h.render_field(form.new_name) }}

	    <button type="submit" class="btn btn-primary">{{ _("Rename") }}</button>
	  </form>
	</div>
      </div>

    </div>
  </div>

{% endblock %}
