{% extends "_public_page.html" %}
{% import "_helpers.html" as h %}
{% block title %}{{ _('Password recovery: choose a new password') }}{% endblock %}

{% block content %}

  <div class="page-title">
    <h3>{{ _('Password recovery: choose a new password') }}</h3>
  </div>

  <div class="row">
    <div class="col-md-4">

      <form method="post" role="form">
        {{ form.hidden_tag() }}

        {{ h.render_field(form.password) }}
        {{ h.render_field(form.password_confirm) }}

        {{ h.render_actions() }}

      </form>
    </div>
  </div>

{% endblock %}
