{% extends "_public_base_page.html" %}

{% block title %}{{ _('Request a reset of your password') }}{% endblock %}

{% block content %}

  <h3>{{ _('Password reset') }}</h3>

  <div>
    <p>{% trans %}If you have lost your password you can request a reset by filling the form below with your email address; you will soon receive a mail with further instructions (remember to check your <strong>spam</strong> folder!).{% endtrans %}</p>
  </div>

  <div class="large-50">

    <form action="" method="post" class="ink-form spaced-form">
	  {{ form.hidden_tag() }}

	  <div class="control-group validation{%- if form.email.errors %} error{% endif -%}">

        {{ form.email.label() }}
	    <div class="control append-button">

          <span>{{ form.email(size=30, placeholder='Email') }}</span>
	      <button class="ink-button" type="submit">{{ _('Send request') }}</button>
		  {% for error in form.email.errors %}
		    <p class="tip">{{ error }}</p>
		  {% endfor %}

	    </div>
	  </div>

    </form>
  </div>

{% endblock %}
