{% extends "_public_page.html" %}
{% import "_helpers.html" as h %}
{% block title %}{{ _('Request a reset of your password') }}{% endblock %}

{% block content %}

  <div class="page-title">
    <h3>{{ _('Password reset') }}</h3>
  </div>

  <div>
    <p>{% trans %}If you have lost your password you can request a reset by filling the form below with your email address; you will soon receive a mail with further instructions (remember to check your <strong>spam</strong> folder!).{% endtrans %}</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <form method="post" role="form">
	{{ form.hidden_tag() }}

	{{ h.render_field(form.email, placeholder=_("Email")) }}
	<button type="submit" class="btn btn-primary">{{ _('Send') }}</button>
      </form>
    </div>
  </div>

{% endblock %}
