{% extends "_page.html" %}
{% import "_helpers.html" as h %}
{% from "_bookmark.html" import bookmarks_block with context %}
{% set page_title = _("Tag search") %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

  {{ h.page_header(page_title) }}

  <div class="row">
    <div class="col-md-6">
      <h3>{{ _('Tagged with:') }} <a href="{{ url_for('tagged', tags=tags|join(',')) }}">{{ tags|join(', ') }}</a> {%- if bookmarks and bookmarks.page > 1 %} <small>Page: {{ bookmarks.page }}</small>{% endif -%}</h3>
    </div>

    <div class="col-md-6">
      <div class="checkbox text-right">
        <label><input id="only-mine" type="checkbox" value="">{% trans %}Only show my bookmarks{% endtrans %}</label>
      </div>
    </div>
  </div>

  {% if related %}
    <p>{% trans %}near tags:{% endtrans %} {%- for tagid, tagname, tagc in related %}
      <a href="{{ url_for('tagged', tags=tagname) }}">{{ tagname }}</a>{%- if not loop.last %},{% endif -%}
    {% endfor -%}</p>
  {% endif %}

  {% if bookmarks.items %}
    {{ bookmarks_block(bookmarks) }}
  {% else %}
    <p>{% trans %}There isn't any bookmark yet!{% endtrans %}</p>
  {% endif %}

{% endblock %}

{% block extrajs %}
  <script>
   function getQueryStringParams() {
     var result = [];
     $.each(window.location.search.substring(1).split('&'), function(i, param) {
       var keyValue = param.split('=');
       result[keyValue[0]] = keyValue[1];
     });
     return result;
   }

   $(document).ready(function() {
     if (getQueryStringParams()["p"] !== undefined) {
       $('#only-mine').prop('checked', true);
     }

     $('#only-mine').click(function() {
       if (this.checked === false) {
         window.location.search = ""
       } else {
         window.location.search = "?p="
       }
     });
   });
  </script>
{% endblock %}
