{% extends "page_with_bookmarks.html" %}
{% block title %}{{ _('Tag search') }}{% endblock %}

{% block page_top %}

  <h3>{{ _('Tagged with:') }} <a href="{{ url_for('tagged', tags=tags|join(',')) }}">{{ tags|join(', ') }}</a> {%- if bookmarks and bookmarks.page > 1 %} <small>Page: {{ bookmarks.page }}</small>{% endif -%}</h3>

  {% if related %}
	<p>{% trans %}near tags:{% endtrans %} {%- for tagid, tagname, tagc in related %}
	  <a href="{{ url_for('tagged', tags=tagname) }}">{{ tagname }}</a>{%- if not loop.last %},{% endif -%}
	{% endfor -%}</p>
  {% endif %}

{% endblock %}
