{% extends "_public_page.html" %}
{% from "_helpers.html" import page_header %}
{% set page_title = _("Authentication required") %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

  {{ page_header(page_title) }}

  <div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

    <h4>Warning!</h4>

    <p>{% trans login=url_for('login') %}You must <a href="{{ login }}">sign in</a> first!{% endtrans %}</p>
  </div><!-- /alert -->

{% endblock %}
