{% extends "_page.html" %}
{% import "_helpers.html" as h %}
{% set page_title = _("User profile") %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

  <div class="page-title">
	<h3>{{ page_title }}</h3>
  </div>

  <p>{% trans email=current_user.email %}Your email address is: <em>{{ email }}</em>{% endtrans %}</p>

  <div class="row">
	<div class="col-md-6">
      <form action="" method="post" role="form">
	    {{ form.hidden_tag() }}

        <fieldset>
	      {{ h.render_field(form.username) }}
	      {{ h.render_field(form.password, help=_("You can leave this blank if you don't want to change password")) }}
	      {{ h.render_field(form.password_confirm) }}

          <div class="content-center">
	        {{ h.render_actions() }}
          </div>

        </fieldset>

      </form>
    </div>
  </div>

  <div>
    <p>{% trans backup=url_for('export_bookmarks') %}<a href="{{ backup }}">Download</a> a backup of your bookmarks in HTML format{% endtrans %}</p>
  </div>

{% endblock %}
